// declare variables here adn import this file on styles.scss
// the vvalues declared here can be re-used across multiple files
// hence this files enables theming

$brand-color: green;


//Product_Widget
$prod_widget_height: 150px;
$prod_widget_width: 200px;

